.DS_Store

# images
*.pdf
images/
*.gif
*.png

# results
*.csv

# internal docs
docs/

# R files
.Rhistory
ode-fit.Rproj
.Rproj.user/

# vscode
.vscode

# other
colloc-infer/
CLAUDE.md
data/

# testthat
_problems/
_snaps/
*.rds